<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mairie de man</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&family=Quantico:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Quantico:ital@1&display=swap" rel="stylesheet">
</head>

<body>


    <!---------------------------header---------------------------->
    <header class="header" id="header">
        <div class="mini-nav">
            <div class="container">
                <div class="minim _df _jc-sb">
                    <div class="mini-nav-left">
                        <span> <img src="assets/mediat/svg/icons/Mail.svg">: mairiedeman@infos.com</span>
                        <span><img src="assets/mediat/svg/icons/Phone.svg">: +225 00 00 00 00 00</span>
                    </div>
                    <div class="mini-nav-right">
                        <a href="#"><img src="assets/mediat/svg/icons/Facebook - Negative.svg"></a>
                        <a href="#"><img src="assets/mediat/svg/icons/Twitter - Negative.svg"></a>
                        <a href="#"><img src="assets/mediat/svg/icons/LinkedIn - Negative.svg"></a>
                    </div>
                </div>
            </div>
        </div>

        <nav>
            <div class="container">
                <div class="navbar _df _jc-sb _ai-c">
                    <div class="hamberger">
                        <div class="trait"></div>
                        <div class="trait"></div>
                        <div class="trait"></div>
                    </div>
                    <div class="logo">
                        <a href="index.html">
                            <div class="logo-text">Man</div>
                        </a>
                    </div>
                    <div class="nav-menu">
                        <ul class="_df">
                            <div class="close_btn"><span>x</span> </div>
                            <li><a href="#">Accueil</a></li>
                            <li><a href="#">A propos</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Actualités</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>

                    </div>
                    <div class="logom">
                        <img width="60px" src="assets/mediat/images/logom.png" alt="">
                    </div>
                </div>
        </nav>
    </header>

    <!------------------------------slider----------------------------------------->
    <section class="slider" id="slider">
        <div class="ca"></div>
        <div class="container">
            <div class="slider_centent">
                <div class="flashinfos">
                    <div class="label">
                        Flash Infos
                    </div>
                    <div class="fla-text">
                        <div class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure odit consequatur sunt odio eius tenetur deleniti cum voluptate error nesciunt possimus quaerat debitis adipisci minima, ab facere saepe? Culpa, voluptatem. </div>
                    </div>
                </div>

                <div class="slider_controller _df _jc-sb _ai-c">
                    <div class="controller left-controller"><img src="assets/mediat/svg/icons/right-chevron.svg"></div>
                    <div class="controller right-controller"><img src="assets/mediat/svg/icons/Left Chevron.svg"></div>
                </div>
            </div>
        </div>

    </section>

    <!----------------------------services--------------------------->
    <section class="services">
        <div class="container">

            <div class="mair_services row _jc-sb">
                <div class="srvice_box col-2">
                    <div class="icon">
                        <img src="assets/mediat/svg/services/service1.svg" alt="">
                    </div>
                    <div class="title">Extraits Rapides</div>
                </div>

                <div class="srvice_box col-2">
                    <div class="icon">
                        <img src="assets/mediat/svg/services/service1.svg" alt="">
                    </div>
                    <div class="title">Extraits Rapides</div>
                </div>

                <div class="srvice_box col-2">
                    <div class="icon">
                        <img src="assets/mediat/svg/services/service1.svg" alt="">
                    </div>
                    <div class="title">Extraits Rapides</div>
                </div>

                <div class="srvice_box col-2">
                    <div class="icon">
                        <img src="assets/mediat/svg/services/service1.svg" alt="">
                    </div>
                    <div class="title">Extraits Rapides</div>
                </div>

                <div class="srvice_box col-2">
                    <div class="icon">
                        <img src="assets/mediat/svg/services/service1.svg" alt="">
                    </div>
                    <div class="title">Extraits Rapides</div>
                </div>

                <div class="srvice_box col-2">
                    <div class="icon">
                        <img src="assets/mediat/svg/services/service1.svg" alt="">
                    </div>
                    <div class="title">Extraits Rapides</div>
                </div>
            </div>
        </div>

    </section>

    <!---------------------------section infos du maire---------------------------->
    <section class="infos_maire wrap">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="image_maire">
                        <img style="margin-bottom: 80px;" src="assets/mediat/images/Aboubakar-Sidik-Fofana-maire-de-Man-1.webp" alt="">
                        <div class="nom_maire">
                            <h2>Aboubakar Sidiki Fofana</h2>
                            <p>Maire de la commune de Man</p>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="mot">

                        <h2><strong>mot du maire</strong> </h2>

                        <p>Man est une grande ville de l'Ouest de la Côte d'Ivoire et le chef-lieu de la région du Tonkpi. La ville est surnommée "La ville aux 18 montagnes", et est située dans une cuvette entourée d'une chaîne de montagnes. Elle tire le
                            nom Man du sacrifice du patriarche Gbê, chef de canton de Gbêpleu à la fin du XIXᵉ siècle
                        </p>

                        <p>Man est une grande ville de l'Ouest de la Côte d'Ivoire et le chef-lieu de la région du Tonkpi. La ville est surnommée "La ville aux 18 montagnes", et est située dans une cuvette entourée d'une chaîne de montagnes. Elle tire le
                            nom Man du sacrifice du patriarche Gbê, chef de canton de Gbêpleu à la fin du XIXᵉ siècle
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!---------------------------blog---------------------------->
    <section id="blog_section" class="blog_section">
        <div class="container">
            <div class="section-title"><b>Actualité ></b> <a href="#">Voir tous les article de l'Actualité</a></div>
            <div class="article_cardes">


                <div class="article_card col_4">
                    <div class="article_card_top">
                        <div class="article_card_img">
                            <img src="assets/mediat/images/articles/man1.jpg" alt="">
                        </div>
                        <div class="article_date_badg">
                            12/11/2022
                        </div>
                    </div>
                    <div class="article_card_bottom">
                        <h3 class="article_title">COVID-19 le maire de man Aboubakar Fofana, presente les actions de sensibilisation et d'assistance menées dans sa commune.</h3>
                    </div>
                </div>



                <div class="article_card col_4">
                    <div class="article_card_top">
                        <div class="article_card_img">
                            <img src="assets/mediat/images/articles/man2.jpg" alt="">
                        </div>
                        <div class="article_date_badg">
                            12/11/2022
                        </div>
                    </div>
                    <div class="article_card_bottom">
                        <h3 class="article_title">COVID-19 le maire de man Aboubakar Fofana, presente les actions de sensibilisation et d'assistance menées dans sa commune.</h3>
                    </div>
                </div>



                <div class="article_card col_4">
                    <div class="article_card_top">
                        <div class="article_card_img">
                            <img src="assets/mediat/images/articles/man3.webp" alt="">
                        </div>
                        <div class="article_date_badg">
                            12/11/2022
                        </div>
                    </div>
                    <div class="article_card_bottom">
                        <h3 class="article_title">COVID-19 le maire de man Aboubakar Fofana, presente les actions de sensibilisation et d'assistance menées dans sa commune.</h3>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <!------------------------------acces rapide--------------------->
    <section class="acces-rapide container">
        <div class="rapide-section-title">ACCÈS <b>RAPIDES</b></div>

        <div class="hei _df">
            <div class="div1">
                <div class="rapidcontent">
                    <div class="rapidcontent">
                        <div>
                            <img src="assets/mediat/svg/rapide.svg" alt="">
                        </div>
                        <div class="title">
                            <h3>Offres d'emploi</h3>
                            <p>Découvrez les offres d'emploi de la commune de Man</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div2">
                <div class="rapidcontent">
                    <div>
                        <img src="assets/mediat/svg/rapide.svg" alt="">
                    </div>
                    <div class="title">
                        <h3>Numéros utiles</h3>
                        <p>La liste des numéros utiles à contacter en cas d'urgence</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!----------------carte interactif ------------------------------>

    <section class="cart-interactif">
        <div class="container">
            <div class="row _jc-sb">
                <div class="col-4">
                    <h4 class="titles"><s>Les quartiers de Man</s></h4>
                    <div class="quatiers">
                        <a href="#"><strong>égion :</strong> Tonkpi</a>
                        <a href="#"><strong>Département :</strong> Man</a>
                        <a href="#"><strong>Population :</strong> 148 945</a>
                        <a href="#"><strong>Quartiers :</strong> 12</a>
                    </div>
                </div>
                <div class="col-4">
                    <img width="100%" src="assets/mediat/images/mancart.png " alt="">
                </div>
                <div class="col-4">
                    <h4 class="titles"><s>Les quartiers de Man</s></h4>
                    <div class="quatiers">
                        <a href="#">Quartier CAFOP</a>
                        <a href="#">Camp plus</a>
                        <a href="#">Commerce</a>
                        <a href="#">Domoraud</a>
                        <a href="#">Camp Fonctionnaire</a>
                        <a href="#">Libreville</a>
                        <a href="#">Dioulabougou</a>
                        <a href="#">RDA</a>
                        <a href="#">Koko</a>
                        <a href="#">Quartier 13</a>
                        <a href="#">LA SARI</a>
                        <a href="#">Air France</a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-----------------------------footer---------------------->
    <footer>
        <div class="footer-top _df _jc-sa">
            <div class="footer-sections">
                <h2>+225 00 00 00 00 00</h2>
                <p>region des montagnes,<br> 31706 Man, mairie</p>
            </div>
            <div class="footer-sections">
                <a href="#">mairiedeman@infos.com</a>
            </div>
            <div class="footer-sections">
                <h1>MAN</h1>
            </div>
        </div>
        <div class="footer-bottom _df _ai-c _jc-c">Copyright © 2020 – Mairie de MAN</div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="assets/javascript/custom.js"></script>
</body>

</html>

</html>